@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: "Quicksand";
  background-color: #fff7eb;
}

.custom-prev,
.custom-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  cursor: pointer;
  font-size: 40px;
  color: #fff;
}

.custom-prev {
  left: 20px;
}

.custom-next {
  right: 20px;
}

.custom-prev:hover,
.custom-next:hover {
  color: #cbb799; /* Change to your desired hover color */
}

.swiper-pagination-bullet {
  background: #fff; /* Pagination dots color */
  opacity: 0.8;
}

.swiper-pagination-bullet-active {
  background: #cbb799; /* Active pagination dot color */
}
